//main hero
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .heroPic {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .mImg {
        @include breakpoints(laptop) {
            display: none;
        }
    }

    .desktop {
        display: none;

        @include breakpoints(laptop) {
            display: block;
        }
    }

    // .desktop {
    //     display: none;

    //     @include breakpoints(laptop) {
    //         display: block;
    //     }
    // }
}