//main hero
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $VeryLightGray;
    background-color: $DarkViolet;
    // background-image: url(/images/bg-pattern-intro-right-mobile.svg);
    // background-repeat: no-repeat;
    // background-position: bottom -175px right 5px;

    @include breakpoints(laptop) {
        background-image: none;
        flex-direction: row-reverse;
        padding: remUnit(0) remUnit(48)
    }

    @include breakpoints(desktop) {
        background-image: url(/images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left;
    }

    .heroPic {
        width: 100%;

        @include breakpoints(desktop) {
            max-width: remUnit(620);
            position: relative;
            top: remUnit(160);
        }

        img {
            width: 100%;
        }
    }

    .mImg {
        @include breakpoints(laptop) {
            display: none;
        }
    }

    .desktop {
        display: none;

        @include breakpoints(laptop) {
            display: block;
        }
    }

    .hero_text {
        display: flex;
        flex-direction: column;
        padding: remUnit(20);
        text-align: center;
        background-image: url(/images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 40%;
        height: remUnit(416);

        &_main {
            margin-top: remUnit(70);
            margin-bottom: remUnit(30);
            font-size: remUnit(60);
            line-height: remUnit(60)
        }

        &_reg {
            padding: remUnit(0) remUnit(64);
            line-height: remUnit(28);
            font-weight: 300;

            @include breakpoints(laptop) {
                padding: remUnit(0);
            }
        }

        @include breakpoints(laptop) {
            text-align: left;
            background-image: none;
        }

        @include breakpoints(desktop) {
            max-width: remUnit(700);
        }
    }

    .hero_button {
        margin-bottom: remUnit(100);
        text-align: center;
        width: 32%;
        cursor: pointer;

        p {
            text-transform: uppercase;
            border: remUnit(2) solid white;
            padding: remUnit(8);
            letter-spacing: remUnit(1);
        }

    }

    .MB {
        @include breakpoints(laptop) {
            display: none;
        }
    }

    .LD {
        display: none;

        @include breakpoints(laptop) {
            margin-top: remUnit(30);
            display: block;
            padding-top: remUnit(16);
        }
    }
}

.pgDec {
    height: remUnit(180);

    img {
        @include breakpoints(laptop) {
            display: none;
        }
    }
}

.pgDec_hr {
    border: none;
    border-top: remUnit(1) solid #333;
    position: relative;
    top: remUnit(-200);
    width: remUnit(184);
    left: 31%;
    border-color: $GrayishBlue;

    @include breakpoints(tablet) {
        left: 26%;
        width: remUnit(355);
    }

    @include breakpoints(laptop) {
        width: remUnit(150);
        left: 3%;
        top: remUnit(152);
    }

    @include breakpoints(desktop) {
        left: 8%;
    }
}

.bgImg {
    position: relative;
    left: 75%;
    top: remUnit(-159);
    z-index: 1;

    @include breakpoints(tablet) {
        left: 84%;
    }
}

.moreDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoints(laptop) {
        padding: remUnit(0) remUnit(30);
        align-items: start;
    }

    @include breakpoints(desktop) {
        padding: remUnit(0) remUnit(160);
        align-items: start;
    }


    .aB_title {
        font-size: remUnit(55);
        letter-spacing: remUnit(1);
        margin-bottom: remUnit(30);

        @include breakpoints(laptop) {
            font-size: remUnit(40);
        }

        @include breakpoints(desktop) {
            font-size: remUnit(55);

        }

    }

    .aboutInsure {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include breakpoints(laptop) {
            flex-direction: row;
        }

        .aB_deets {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: remUnit(295);
            margin-bottom: remUnit(20);

            @include breakpoints(laptop) {
                align-items: flex-start;
            }

            &_subTitle {
                font-size: remUnit(25);

                @include breakpoints(laptop) {
                    font-size: remUnit(16);
                }
            }

            &_text {
                width: 80%;
                padding: remUnit(0) remUnit(17);
                text-align: center;
                color: $DarkGrayishViolet;
                letter-spacing: remUnit(0.7);
                line-height: remUnit(27);

                @include breakpoints(laptop) {
                    text-align: left;
                    padding: 0;
                }
            }

            &_icon {
                img {
                    width: 100%;
                }

                @include breakpoints(laptop) {
                    width: remUnit(50);
                    height: remUnit(50);
                }
            }
        }
    }
}

.howWeWrk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: remUnit(100) remUnit(30);
    height: remUnit(450);
    background-color: $DarkViolet;
    color: white;
    background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 47%;

    @include breakpoints(laptop) {
        flex-direction: row;
        height: remUnit(180);
        padding: remUnit(0) remUnit(64);
        background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
        justify-content: space-between;
    }

    @include breakpoints(laptop) {
        padding: remUnit(0) remUnit(90);
    }

    h1 {
        text-align: center;
        font-size: remUnit(55);
        line-height: remUnit(60);

        @include breakpoints(laptop) {
            width: 33%;
            font-size: remUnit(30);
            line-height: remUnit(29);
            text-align: left;
        }

        @include breakpoints(desktop) {
            width: 32%;
            font-size: remUnit(60);
            line-height: remUnit(50);
            text-align: left;
        }
    }

    &_button {
        margin-bottom: remUnit(10);
        text-align: center;
        width: 50%;
        cursor: pointer;

        @include breakpoints(laptop) {
            width: 22%;
        }

        p {
            text-transform: uppercase;
            border: remUnit(2) solid white;
            padding: remUnit(8);
            letter-spacing: remUnit(1);

            @include breakpoints(laptop) {
                padding: remUnit(4);
            }

        }

        &:hover {
            color: $VeryDarkViolet;
            background-color: white;
        }
    }
}

.ftr_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $VeryLightGray;

    @include breakpoints(laptop) {
        background-image: url(/images/bg-pattern-footer-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left;
    }


    .ftr_intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: remUnit(200);
        background-image: url(/images/bg-pattern-footer-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoints(laptop) {
            flex-direction: row;
            justify-content: space-between;
            padding: remUnit(0) remUnit(48);
            background-image: none;
            height: remUnit(100);
            border-bottom: remUnit(0.80) solid $DarkGrayishViolet;
        }

    }

    .socialIcons {
        display: flex;
        gap: remUnit(16);
        cursor: pointer;

        img:hover {
            position: relative;
            top: remUnit(-5);
        }
    }

}

.ftr_hr {
    border: none;
    border-top: remUnit(1) solid #333;
    position: relative;
    top: remUnit(20);
    width: remUnit(456);
    border-color: $GrayishBlue;
}

footer {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: remUnit(48);
    text-align: center;
    position: relative;
    top: remUnit(32);
    padding-bottom: remUnit(40);

    @include breakpoints(laptop) {
        flex-direction: row;
        text-align: left;
        gap: remUnit(170);
    }


    .ftr {
        display: flex;
        flex-direction: column;
        gap: remUnit(32);
        font-weight: 600;

        &_title {
            color: $DarkGrayishViolet;
        }

        &_link {
            display: flex;
            flex-direction: column;
            gap: remUnit(16);

            a {
                color: $VeryDarkViolet;

                @include breakpoints(laptop) {
                    font-weight: 300;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            @include breakpoints(laptop) {
                align-items: flex-start;
                gap: remUnit(11);
            }
        }
    }
}

.attribution {
    text-align: center;
    position: relative;
    font-size: remUnit(12);
    color: gray;
    background-color: $VeryLightGray;

    a {
        color: gray;
    }

    @include breakpoints(laptop) {
        margin-top: remUnit(30);
    }
}