* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

html {
  overflow-x: none;
  scroll-behavior: smooth;
  min-width: 23.4375rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

@media (min-width: 630px) {
  body {
    background-color: red;
  }
}

@media (min-width: 830px) {
  body {
    background-color: lightblue;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: forestgreen;
  }
}

.hide {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem;
}

.mobile_icons {
  display: block;
  cursor: pointer;
}

@media (min-width: 830px) {
  .mobile_icons {
    display: none;
  }
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 9%;
  left: 0%;
  right: 0%;
  background-color: #2b272f;
  background-image: url(/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36.125rem;
}

.nav_menu a {
  font-size: 1.25rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 0.125rem;
  margin: 1.25rem 0rem;
}

.nav_menu .viewPlan {
  border: 0.0875rem solid white;
  width: 95%;
  text-align: center;
  padding: 0.9375rem;
}

.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
  background-color: #2d2640;
}

main .heroPic {
  width: 100%;
}

main .heroPic img {
  width: 100%;
}

@media (min-width: 830px) {
  main .mImg {
    display: none;
  }
}

main .desktop {
  display: none;
}

@media (min-width: 830px) {
  main .desktop {
    display: block;
  }
}

main .hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
  text-align: center;
  background-image: url(/images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 40%;
  height: 26rem;
}

main .hero_text_main {
  margin-top: 4.375rem;
  margin-bottom: 1.875rem;
  font-size: 3.75rem;
  line-height: 3.75rem;
}

main .hero_text_reg {
  padding: 0rem 4rem;
  line-height: 1.75rem;
  font-weight: 300;
}

main .hero_button {
  margin-bottom: 6.25rem;
  text-align: center;
  width: 32%;
  cursor: pointer;
}

main .hero_button p {
  text-transform: uppercase;
  border: 0.125rem solid white;
  padding: 0.5rem;
  letter-spacing: 0.0625rem;
}

.pgDec {
  height: 11.25rem;
}

.pgDec_hr {
  border: none;
  border-top: 0.0625rem solid #333;
  position: relative;
  top: -12.5rem;
  width: 11.5rem;
  left: 31%;
  border-color: #95a9c6;
}

@media (min-width: 630px) {
  .pgDec_hr {
    left: 26%;
    width: 22.1875rem;
  }
}

.bgImg {
  position: relative;
  left: 75%;
  top: -9.9375rem;
  z-index: 1;
}

@media (min-width: 630px) {
  .bgImg {
    left: 84%;
  }
}

.moreDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moreDetails .aboutInsure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moreDetails .aboutInsure .aB_title {
  font-size: 3.4375rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.875rem;
}

.moreDetails .aboutInsure .aB_deets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 18.4375rem;
  margin-bottom: 1.25rem;
}

.moreDetails .aboutInsure .aB_deets_subTitle {
  font-size: 1.5625rem;
}

.moreDetails .aboutInsure .aB_deets_text {
  width: 80%;
  padding: 0rem 1.0625rem;
  text-align: center;
  color: #837d87;
  letter-spacing: 0.04375rem;
  line-height: 1.6875rem;
}

.howWeWrk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 6.25rem 1.875rem;
  height: 28.125rem;
  background-color: #2d2640;
  color: white;
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 47%;
}

.howWeWrk h1 {
  text-align: center;
  font-size: 3.4375rem;
  line-height: 3.75rem;
}

.howWeWrk_button {
  margin-bottom: 0.625rem;
  text-align: center;
  width: 50%;
  cursor: pointer;
}

.howWeWrk_button p {
  text-transform: uppercase;
  border: 0.125rem solid white;
  padding: 0.5rem;
  letter-spacing: 0.0625rem;
}

.ftr_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
}

.ftr_holder .ftr_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 12.5rem;
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ftr_holder .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ftr_hr {
  border: none;
  border-top: 0.0625rem solid #333;
  position: relative;
  top: 1.25rem;
  width: 28.5rem;
  border-color: #95a9c6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  gap: 3rem;
  text-align: center;
  position: relative;
  top: 2rem;
  padding-bottom: 2.5rem;
}

footer .ftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  font-weight: 600;
}

footer .ftr_title {
  color: #837d87;
}

footer .ftr_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer .ftr_link a {
  color: #2b272f;
}

.attribution {
  text-align: center;
  position: relative;
  font-size: 0.75rem;
  color: gray;
  background-color: #fafafa;
}

.attribution a {
  color: gray;
}
/*# sourceMappingURL=style.css.map */